.start-page {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.start-page-btn {
  width: 35rem;
  height: 15rem;
  background-color: var(--prim-1);
  border: none;
  border-radius: var(--br-l);
  font-size: 7rem;
  font-weight: 400;
  color: var(--light);
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: var(--box-s);
  text-shadow: 1px 1px 1px var(--dark);
  transition: transform 0.3s ease-in;
}

.start-page-btn:active {
  transform: scale(0.98);
}