:root {
  --primary: #ff4500;
  --secondary: #1282ae;
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-dk: #333;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-xs: 6px;
  --size-sm: 8px;
  --size-md: 10px;
  --size-lg: 12px;
  --size-xl: 15px;
  --size-xxl: 20px;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  padding: 4rem;
  border-radius: var(--size-1) dashed var(--primary)
}