:root {
  --primary: #ff4500;
  --secondary: #1282ae;
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-dk: #333;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-xs: 6px;
  --size-sm: 8px;
  --size-md: 10px;
  --size-lg: 12px;
  --size-xl: 15px;
  --size-xxl: 20px;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary);
  color: var(--light);
  display: grid;
  place-items: center;
}

.quotes-app {
  width: 90vmin;
  aspect-ratio: 3 / 2;
  padding: 4rem;
  background-color: var(--dark);
  border-radius: var(--size-5);
  border: var(--size-2) solid var(--primary);
  box-shadow: -2rem 2rem 6rem rgba(0, 0, 0, 0.6)
}