:root {
  --primary: #ff4500;
  --secondary: #87ceeb;
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-dk: #333;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-xs: 6px;
  --size-sm: 8px;
  --size-md: 10px;
  --size-lg: 12px;
  --size-xl: 15px;
  --size-xxl: 20px;
}